<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CPDeasy - TOS - Terms of Service</title>
		<link
		rel="shortcut icon"
		type="image/x-icon"
		href="/images/teapot_1fad6_16x16.png"
	/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<!-- Start of Header-->
	<header class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light center">
			
			<button
				class="navbar-toggler  my-1"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span
					class="navbar-toggler-icon"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
				></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="d-flex navbar-nav fs-2 fw-bold align-items-center">
					<li class="nav-item active">
						<a class="nav-link" href="/">
							<img class="d-inline-block mr-1 navbar-brand" src="/images/cpdeasy_square.png" alt="">
							<span>CPDeasy</span>
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="signup"><%= !user ? 'Sign Up' : '' %></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="login"
							><%= !user ? 'Login' : 'Entries' %>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="tos">ToS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="privacy">Privacy</a>
					</li>
					<li>
						<a   form
							method="GET"
							href="/logout"
							action="/logout?_method=POST"
							class="nav-link ml-auto"
						>
						    <%= user ? 'Logout' : '' %> </a>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- End of Header-->
	<body>
		<main class="container">
			<h2>Terms of Service</h2>
			<p>
				Welcome to our website. If you continue to browse and use this website,
				you are agreeing to comply with and be bound by the following terms and
				conditions of use, which together with our privacy policy govern our
				relationship with you in relation to this website. If you disagree with
				any part of these terms and conditions, please do not use our website.
			</p>
			<p>
				The term 'cpd-log' or 'us' or 'we' refers to the owner of the website.
				The term 'you' refers to the user or viewer of our website.
			</p>
			<h3>The use of this website is subject to the following terms of use:</h3>
			<p>
				The content of the pages of this website is for your general information
				and use only. It is subject to change without notice. This website uses
				cookies to save session state information for caching and performance
				improvement. If you do allow cookies to be used, the following personal
				information may be stored by us for use by third parties: username,
				session time, date.
			</p>
			<p>
				Neither we nor any third parties provide any warranty or guarantee as to
				the accuracy, timeliness, performance, completeness or suitability of
				the information and materials found or offered on this website for any
				particular purpose. You acknowledge that such information and materials
				may contain inaccuracies or errors and we expressly exclude liability
				for any such inaccuracies or errors to the fullest extent permitted by
				law.
			</p>
			<p>
				Your use of any information or materials on this website is entirely at
				your own risk, for which we shall not be liable. It shall be your own
				responsibility to ensure that any products, services or information
				available through this website meet your specific requirements.
			</p>
			<p>
				This website contains material which is owned by or licensed to us. This
				material includes, but is not limited to, the design, layout, look,
				appearance and graphics. Reproduction is prohibited other than in
				accordance with the copyright notice, which forms part of these terms
				and conditions. All trade marks reproduced in this website which are not
				the property of, or licensed to, the operator are acknowledged on the
				website. Unauthorised use of this website may give rise to a claim for
				damages and/or be a criminal offence.
			</p>
			<p>
				From time to time this website may also include links to other websites.
				These links are provided for your convenience to provide further
				information. They do not signify that we endorse the website(s). We have
				no responsibility for the content of the linked website(s).
			</p>
			<p>
				Your use of this website and any dispute arising out of such use of the
				website is subject to the laws of England, Northern Ireland, Scotland
				and Wales.
			</p>
		</main>
		<br />
		<script src="js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
			crossorigin="anonymous"
		></script>
	</body>
</html>
