/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

a:link {
	font-style: none;
}

/******************************************
  /* LAYOUT
  /*******************************************/
img {
	display: block;
	margin: 0 auto;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

html > header > nav {
	font-family: "montserrat", Arial, sans-serif !important;
	background-color: #e0eaef;
}

#title-image {
	height: 50vh;
}

header,
#home,
nav.navbar {
	background-color: #e0eaef;
}

#home > h1,
#home > p {
	color: #03023e;
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 100vh;
	width: 100%;
}

#cpd-background-image {
	height: 55vh;
	font-size: xx-large;
	font-weight: bold;
}
#cpd-background-image > h2 {
	position: relative;
	color: #03023e;
	z-index: 100;
}
