/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

a:link {
	font-style: none;
}

/******************************************
  /* LAYOUT
  /*******************************************/
img {
	display: block;
	margin: 0 auto;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
